@import "tailwindcss";

@font-face {
  font-family: "Chakra Petch";
  src: url("/ChakraPetch-Bold.ttf") format("truetype");
  font-weight: bold;
}

@theme {
  --font-heading: "Chakra Petch", sans-serif;
}
